<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.invsal.www.istemf">

    <permission
        android:name="cl.invsal.www.istemf.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="cl.invsal.www.istemf.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cl.invsal.www.istemf.ActMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="cl.invsal.www.istemf.ActVisNumero"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cl.invsal.www.istemf.ActPublicidad"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="cl.invsal.www.istemf.VideoViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="cl.invsal.www.istemf.ActNueUsuario"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".RegistrationService"
            android:exported="false" />

        <service
            android:name=".NotificacionsListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>



        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="cl.invsal.www.istemf" />
            </intent-filter>
        </receiver>

    </application>


</manifest>